*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #272727;
  color: #fff;
}

.container{
  max-width: 1300px;
  margin: 4em auto;
}

h1{
  text-align: center;
  margin-top: 2em;
}

.container{
  display: flex;
  justify-content: space-around;
}

.formulario{
  width: 30%;
}

h2{
  text-align: center;
  font-size: 1.8em;
  margin: 2em auto;
}

.error{
  width: 97%;
  background-color: #fff;
  color: #EA2B1F;
  text-align: center;
  border-bottom: 2px solid #EA2B1F;
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 1em;
  margin-bottom: 2em;
  
}


form, input, select, option, textarea{
  width: 100%;
  margin-bottom: 1em;
  padding: 0.70em
}

select{
  width: 106%;
}

label{
  display: inline-block;
  margin-bottom: 0.2em;
  width: 100%;
}

.button{
  width: 106%;
  padding: 0.8em 0;
  background-color: #2CA58D;
  border: 1px solid #F0F0C9;
  border-radius: 5px;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}

.button:hover{
  background-color: #EA2B1F;
}


